name: Test Mintlify docs
on:
  push:
    branches:
      - gh-readonly-queue/main/**
      - main
  pull_request:
jobs:

  test-mintlify-docs:
    runs-on: ubuntu-latest
    steps:

      - name: Git checkout
        uses: actions/checkout@v5

      - name: Install Node
        uses: actions/setup-node@v5
        with:
          node-version: '22.x'

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install Mintlify CLI
        id: install-mintlify-cli
        run: |
          npm i -g mintlify

      - name: Test for broken links
        id: test-broken-links
        run: |
          mintlify broken-links

      - name: Install pyspelling
        id: install-pyspelling
        run: |
          pip install pyspelling

      - name: Check spelling
        uses: rojopolis/spellcheck-github-actions@v0
        with:
          config_path: .spellcheck.yml
          task_name: Markdown